<div class="bg-off-white pv4">
	<div class="ph3 mw7 center">

		<h2 class="f3 b lh-title mb3">Latest stories</h2>

		<div class="w-100 flex-ns mhn1-ns flex-wrap mb3">
			 <!-- Get four newest articles -->
			{{ range first 4 (where .Site.RegularPages.ByDate.Reverse "Section" "news") }} <!-- Don't use .Data.Pages -->
				<div class="ph1-ns w-50-ns flex">
					{{ .Render "li" }}
				</div>
			{{ end }}
		</div>

		<div class="tc">
			<a href="/news" class="btn raise">Read more</a>
		</div>

	</div>
</div>
